<manifest package="com.example.android.customviews"
    android:versionCode="1"
    android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/play_button"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black" >
        <activity android:name=".MainActivity" >
        </activity>
        <activity android:name=".vol_button.TestVolume" >
        </activity>
        <activity android:name=".TestKnob" >
        </activity>
        <activity android:name=".TestNewKnob" >
        </activity>
        <activity android:name=".TestAudioButtons" >
        </activity>
        <activity
            android:name=".TestChooser"
            android:label="@string/title_activity_test_chooser" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="TestPetrButtons"></activity>
        <activity android:name="TestAllElements"></activity>
        <activity android:name="TestExpKnob"></activity>
    </application>

</manifest>